.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa select {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box; /* Define que o tamanho total do elemento (width e height) inclui o padding e a border, ou seja, eles não aumentam o tamanho final do elemento. */
}
